<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @lesson.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1><%= @lesson.title %></h1>
  <p><%= @lesson.content %></p>
  <% if @lesson != @lesson.section.lessons.last %>
    <a href="/sections/<%= @section.id %>/lessons/<%= @lesson.id + 1 %>">Siguiente</a>
  <% else %>
    <a href="/sections/<%= @section.id %>/test">Comenzar Test</a>
  <% end %>
</body>
</html>

